<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Stock App</a>
      </div>
  </div>
</nav>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of stockData">
        <td>{{data.name}}</td>
        <td [ngClass]="{'missing': !data.price, 'lowprice':data.lowprice}">{{data.price | number}}</td>
        <td>{{data.update  | date : 'h:mm a'}}</td>
      </tr>
    </tbody>
  </table>
</div>

